.swiper-slide {
  font-size: 18px;
  background-color: #1c1ca0;
  border-radius: 10px;
  min-height: 150px;
  max-height: 200px;
  min-width: 256px;
  max-width: 300px;
}

/* `https://api.exchangerate.host/fluctuation?start_date=2023-04-10&end_date=2023-04-11&base=USD&symbols=PHP` */
