@font-face {
  font-family: "Nunito";
  src: url("./components/fonts/nunito/Nunito-ExtraBold.eot");
  src: url("./components/fonts/nunito/Nunito-ExtraBold.woff") format("woff2"),
    url("./components/fonts/nunito/Nunito-ExtraBold.woff") format("woff"),
    url("./components/fonts/nunito/Nunito-ExtraBold.ttf") format("truetype"),
    url("./components/fonts/nunito/Nunito-ExtraBold.svg") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
